<div class="ibox">
  <div class="ibox-title">
    <div class="row">
    	<div class="col-xs-12 col-md-12">
     		<h5>New client</h5>
    	</div>
    </div>
  </div>
  <div class="ibox-content">
		<%= render 'form' %>
	</div>
</div>