<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">Recrukit</strong>
              </span> 
              <span class="text-muted text-xs block">
                <%= current_user.email %>
                <b class="caret"></b>
              </span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-link" do %>
                <i class="fa fa-sign-out">
                  Logout
                </i>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="logo-element">
          R
        </div>
      </li>
      <% if current_user.manager? %>
        <li class="">
          <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Manager</span><span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li class="">
              <%= link_to manager_requirements_path do %>
              <i class="fa fa-file-o"></i> <span class="nav-label">Requirements</span>
              <% end %>
            </li>
          </ul>
        </li>
      <% elsif current_user.recruiter? %>
        <li class="">
          <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Recruiter</span><span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li class="">
              <%= link_to recruiter_requirements_path do %>
              <i class="fa fa-file-o"></i> <span class="nav-label">Requirements</span>
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>  
           
  </div>
</nav>
