<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-info " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <% if user_signed_in? %>
                <li>
                    <%= link_to edit_user_registration_path do %>
                        <i class="fa fa-pencil">
                        Edit profile
                        </i>
                    <% end %>
                </li>
                <li>
                    <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-link" do %>
                        <i class="fa fa-sign-out">
                        Logout
                        </i>
                    <% end %>
                </li>
            <% else %>

                <li>
                    <%= link_to new_user_registration_path do %>
                        <i class="fa fa-sign-in">
                        Sign Up
                        </i>
                    <% end %>
                </li>
                <li>
                    <%= link_to new_user_session_path do %>
                        <i class="fa fa-sign-in">
                        Login
                        </i>
                    <% end %>
                </li>
            <% end %>
        </ul>
    </nav>
</div>
